@model IEnumerable<LibraryManagment.Models.Lending>

@{
    ViewData["Title"] = "Index";
}

<h1>Lendings</h1>

<p>
    <a asp-action="Create">Lend a Book</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.LendingDate)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.LendingDate)</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ReturnDate)*@
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RetDateSortParm"]">@Html.DisplayNameFor(model => model.ReturnDate)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOwed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @*<a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Member)</a>*@

                @*@Html.DisplayNameFor(model => model.Member)*@

                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Member)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LendingDate)
            </td>
            <td>
                @if (DateTime.Compare(item.ReturnDate, new DateTime(1, 1, 1)) == 0)
                {
                    @:Not Returned
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOwed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Member.FullName)*@
                @Html.DisplayFor(modelItem => item.Member.Forename)
                @Html.DisplayFor(modelItem => item.Member.Surname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Return Book</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
